.entry{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    color: $black;

    &:after{
        content: "";
        width: 20%;
        max-width: 35px;
        height: 6px;
        background-color: $color-primary;
        position: relative;
        margin-top: 4px;
        display: block;
    }

    &.entry--high{
        font-size: 20px;
        color: #fff;
        position: relative;
        &:after{
            background-color: $color-ternary;
            max-width: 40px;
            width: 30%;
        }

        @include mq(desktop){
            font-size: 30px;
        }

        &.green{
            color: $black;
            &:after{
                background-color: $color-primary;
            }
        }
        span{
            display: inline-block;
            position: relative;
            margin-left: 20%;
            padding-right: 10px;
            display: inline-flex;
            align-items: center;
            height: 60px;
            .entry__skew{
                display: block;
                background-color: #fff;
                width: 100%;
                height: 60px;
                position: absolute;
                transform: skew(40deg);
                left: 0%;
                top: 0;
                z-index: 0;
                border-right: 10px solid $color-ternary;


                &:after{
                    content: "";
                    position: absolute;
                    right: 100%;
                    width: 100vw;
                    background-color: #fff;
                    display: inline-block;
                    height: 100%;
                }

             
            }

            .entry__text{
                position: relative;
            }

            @include mq(desktop){
                margin-left: 0;
            }
        }
    }

    &.no-after{
        &:after{
            display: none;
        }
    }

    &.entry--little{
        font-size: 16px;
        font-weight: 600;

        &:after{
            height: 4px;
            background-color: $color-ternary;
        }
    }
}

[data-inviewport]{
   visibility: hidden;
}