a{
    text-decoration: none;
    &:link,
    &:active,
    &:hover,
    &:visited{
        color: inherit;
        text-decoration: none;
    }

    &.underline{
        text-decoration: underline;
    }
}