.page-contact{
    .section-contact__details{
        svg{
            width: 40px;
        }
        .little{
            font-size: 15px;
        }
        br{
            display: none;
        }
    }
}