.section{
    padding: 0 0 32px;

    &.section--grey{
        background-color: $grey;
        padding: 32px 0 0px;
        position: relative;
        z-index: 1;

        @include mq(laptop){
            padding: 32px 0 62px;
        }
    }

    @include mq(desktop){
        padding: 62px 0;
    }
}

.section-overflowx{
    overflow-x: auto;
    .container{
        .row{
            flex-wrap: nowrap;
            [class*="col"]{
                max-width: 399.98px;
                min-width: 80%;
                @include mq(mobile){
                    min-width: 48%
                }
                @include mq(tablet){
                    min-width: 33.33%;
                }
            } 
        }
    }
}

.main{
    min-height: 100vh;
}

.main--top{
    margin-top: 102px;
}