#menu-bar{

    .menu__brand, 
    .menu__container{
        transition:height 0.2s ease;
    }

    .menu__container ul > li{
        transition: font-size .2s ease-out;
    }

    .menu__brand__bg{
        transition: width .3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    }
    #logo{
       span{
           transition: font-size .2s ease-out;
       }
    }
    &.scrolled{
        .menu__brand, 
        .menu__container{
            height: 50px;
        }
        
        .menu__container ul{
           &>li{
               color: $black;
               font-size: 13px;

               &.current_page_item{
                    a{
                        position: relative;
                        font-weight: bold;
                     
                    }
                }
           }

           

        }
        .menu__brand__bg{
            width: 150vw;
        }
        #logo{
            span:first-child{
                font-size: 17px;
            }
            span:last-child{
                font-size: 9px;
            }
        }    
    }

    .menu__container{
        display: none;
    }

    .menu__toggle{
        display: block;
    }

    @include mq(laptop){
        .menu__container{
            display: block;
        }

        .menu__toggle{
            display: none;
        }
    }
    

}

#menu{
    .menu__schedule__list{

        svg{
            width: 10px;
            @include mq(tablet){
                width: 15px;
            }
        }

        li{
            &:nth-child(2){
                display: none;
                @include mq(tablet){
                    display: flex;
                }
            }
    
            &:last-child{
                display: none;
                @include mq(laptop){
                    display: flex;
                }
            }

            @include mq(mobile){
                font-size: 12px;
            }
    
            @include mq(laptop){
                margin-right: 30px;
            }
        }
    }
}

.menu__brand{
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;    
}

.menu__brand__bg{
    display: block;
    background-color: #fff;
    width: 122%;
    height: 102%;
    position: absolute;
    transform: skew(40deg);
    left: -13%;
    top: -1px;
    z-index: -1;

    &:before{
        content: "";
        position: absolute;
        background-color: #fff;
        right: 99%;
        width: 100vw;
        top: 0;
        height: 100%;
        z-index: 1;
        display:block;
    }
}

.menu__schedule{
    background-color: $color-secondary;
    height: 32px;
    width: 100%;
    box-sizing: border-box;


    .container{
        height: 100%;
        .row,
        [class*="col"]{
            height: 100%;
        }
    }

    &.scrolled{
        display: none;
        @include mq(laptop){
            display: block;
        }
    }

  
}

.menu__schedule__list{
    display: flex;
    height: 100%;
    width: 100%;
    color: #fff;

    svg{
        width: 15px;
    }
    li{
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 9px;
        margin-right: 8px;
        letter-spacing: .5px;

        span{
            padding-left: 5px;
        }
    }
}

.menu{
    position: fixed;
    width: 100%;
    top: 0; 
    z-index: 1;
    background-color: rgba(2,255,255, 0.3);
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 2px -4px #CCCCCC;
    
    .menu__container{
        height: 70px;
        flex-grow: 1;
    }

    .menu__container ul{
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        padding-left: 25%;

        &>li{
            font-family: 'Raleway', sans-serif;
            color: $white;
            text-transform: uppercase;
            font-size: 17px;
            font-weight: bold;
            &:last-child{
                padding-right: 0;
            }

            a{
                position: relative;
                font-weight: 500;
            }

            &.current_page_item{
                a{
                    position: relative;
                    font-weight: bold;
                }
            }
        }
    }
    .row{
        height: 100%;
    }
    [class*="col"]{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }

    color: $white;
}

.menu__toggle{
    width: 25px;
    height: 20px;
    position: relative;
    display: none;
    cursor: pointer;

    span{
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $black;

        &:first-child{
            top: 0;
            transition: top .3s;
        }

        &:nth-child(2){
           top: calc(50% - 2.5px);
        }

        &:last-child{
            bottom: 0;
            transition: top .3s;
        }
    }

    &.on{
        span{
            &:first-child{
                top: calc(50% - 2.5px);
            } 
            &:last-child{
                top: calc(50% - 2.5px);
            }
        }
    }
}