.person-card__header{
    height: 350px;
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid $color-primary;
}

.person-card__footer{
    background-color: #fff;
    height: 100px;
    box-sizing: border-box;
    padding: 25px 15px;
}

.person-card__name{
    color: $black;
    font-weight: bold;
    font-size: 18px;
}

.person-card__job{
    font-family: Anton, sans-serif;
    font-size: 12px;
    color: $color-primary;
    text-transform: uppercase;
    margin-top: 6px;
}

.person-card__link{
    &:hover{
       .person-card__header{
           border-color: $color-ternary;
       }
    }
}