.profile{
    display: flex;
}

.profile__image{
    img{
        width: 260px
    }
}

.profile__name{
    font-size: 20px;
    font-weight: bold;
    color: $black;
}

.profile__info{
    align-self: flex-end;
}

.profile__status{
    font-weight: 600;
    color: $color-primary;
}