.valor{
    height: 280px;
    background-color: $color-primary;
    background-size: cover;
    position: relative;

    &.valor--1{
        background-image: url(../img/valor/valor.jpeg)
    }
    &.valor--2{
        background-image: url(../img/valor/valor.jpeg)
    }
    &.valor--3{
        background-image: url(../img/valor/valor.jpeg)
    }

    @include mq(mobile){
        height: 300px;
    }

    @include mq(tablet){
        height: 350px;
    }
}

.valor__legend {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    color: #fff;
    height: 60%;
    width: 100%;

    padding: 0 15px;
    box-sizing: border-box;
    span:first-child{
        font-family: Anton, sans-serif;
        display:block;
        font-size: 30px;
        text-transform: uppercase;
    }
    span:second-child{
        font-family: Montserrat, sans-serif;
    }
}